<!DOCTYPE html>
<html>
<head>
  <title>Fedup</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if current_user %>
  <script type="text/javascript">
    window.CURRENT_USER = {username: "<%= current_user.username %>", userId: "<%= current_user.id %>"}
  </script>
  <% end %>
</head>
<body id="body">

<%= yield %>

</body>
</html>
